.Rproj.user
.Rhistory
.RData
.Ruserdata
# ignores all data files
*.Rdata
*.RData
data_split/*.Rdata
# ignore fitted models
model/model_1st_stage.Rdata
model/model_2nd_stage_ichor.Rdata
model/model_2nd_stage_no_ichor.Rdata
